.List {
  width: 60%;
  margin: auto;
}

.BookButton {
  width: 75%;
  height: 4em;

  margin-bottom: 1em;
  background-color: white;
  border-color: black;
  border-radius: 0.5em;
  outline: none;
}

.BookButton:focus {
  -webkit-box-shadow: 6px 6px 30px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 30px -8px rgba(0,0,0,0.75);
box-shadow: 6px 6px 30px -8px rgba(0,0,0,0.75);
}

.BookButton:active {
  -webkit-box-shadow: inset 6px 6px 30px -8px rgba(0,0,0,0.75);
-moz-box-shadow: inset 6px 6px 30px -8px rgba(0,0,0,0.75);
box-shadow: inset 6px 6px 30px -8px rgba(0,0,0,0.75);
}
